.book-image-holder {
    display: inline-block;
    width: 100%;
    height: 200px;
    position: relative;
    /* box-shadow: 0 0 10px white; */
    box-shadow: 0px 7px 10px grey, 0px 9px 21px black, 0px 13px 17px white;
    border: 1px solid black;
}

.book-holder {
    width: 160px;
    height: 200px;
    color: white;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    margin: 20px 20px;
    vertical-align: top;
}

.center {
    text-align: center;
}

.book-holder img {
    width: 100%;
    height: 200px;
}

.book-holder .title {
    margin-top: 5px;
    font-size: 12px;
}

.book-holder .authors {
    margin-top: 2px;
    font-size: 12px;
    color: grey;
}

.book-holder .authors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.discription-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .4);
    display: none;
}

.book-holder:hover .discription-wrapper {
    display: block;
}

.myread-header {
    height: 60px;
    background: rgba(0, 0, 0, .3);
    border-bottom: 4px solid red;
    margin-bottom: 20px;
}

.myread-header .logo {
    display: inline-block;
    text-align: left;
    /* font-family: 'Cabin Sketch', cursive; */
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
}

.myread-header .logo a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    line-height: 60px;
    padding: 0 20px;
}

.close-book-details {
    width: 50px;
    height: 50px;
}

.add-book {
    width: 35px;
    height: 35px;
    background: greenyellow;
    border-radius: 50%;
    position: absolute;
    right: 22px;
    top: 10px;
}

.book-shelf-changer {
    position: absolute;
    right: -20px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 100;
    background: #60ac5d;
    background-image: url('../Images/down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.description {
    display: none;
    position: absolute;
    z-index: 10;
    background: white;
    bottom: -100px;
    height: 0;
    right: 0;
    padding: 4px 5px;
    left: 0;
    color: black;
    transition: all .3s ease-in-out;
}

.book-image-holder:hover .description {
    display: block;
    height: auto;
    bottom: 0;
}

.description .title {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: none;
    white-space: nowrap;
}

.search-input {
    display: block;
    height: 50px;
    background: white;
    margin-top: -20px;
    margin-bottom: 20px;
}

.search-input img {
    width: 35px;
    height: 35px;
    float: left;
    padding: 7px 4px 0px 20px;
}

.search-input input {
    padding: 12px;
    font-size: 20px;
    padding-left: 20px;
    width: 80%;
    border: none;
    outline: none;
}

.no-data {
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 20%;
}

.book-description {
    margin-top: 30px;
    background: black;
    height: 480px;
}

.book-description button {
    position: absolute;
    right: 10px;
    top: 15px;
    height: 30px;
    border: 0;
    background: transparent;
}

.book-description .content h1 {
    font-size: 42px;
}

.book-description button img {
    background: black;
    width: 50px;
    height: 50px;
}

.book-description .book-image {
    float: left;
    width: 260px;
    padding: 30px 20px 10px;
    height: 350px;
    position: relative;
}

.book-description .book-image img {
    width: 100%;
    height: 100%;
}

.detailed-description {
    float: right;
    width: calc(100% - 300px)
}

.rating span {
    display: block;
}

.rating div {
    display: inline-block;
}

.book-description .book-image .star {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 3px 10px;
}

.page-count {
    position: absolute;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    left: 20px;
    padding: 10px;
    right: 20px;
    color: black;
}