@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Play:400,700');
body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: sans-serif;
    font-family: 'Play', sans-serif;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.animate-description {
    position: relative;
    -webkit-animation-name: animate-description;
    -webkit-animation-duration: 1s;
    animation-name: animate-description;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@-webkit-keyframes animate-description {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}